.badge-alpha {
  display: inline-block;
  margin-left: 8px;
  padding: 0 8px;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 12px;
  
  color: var(--vp-c-warning-1);
  background-color: var(--vp-c-warning-soft);
  border: 1px solid var(--vp-c-warning-soft);
  
  transition: all 0.25s;
}

.dark .badge-alpha {
  box-shadow: 0 0 10px rgba(234, 179, 8, 0.15);
  border-color: var(--vp-c-warning-3);
}